<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util
                http://www.springframework.org/schema/util/spring-util.xsd
        ">

    <!-- 默认执行class对象的无参构造方法 -->
    <bean id="user_first" class="com.example.User" />

    <!-- 属性注入：使用property（调用set方法） -->
    <bean id="user_property" class="com.example.User">
        <property name="name" value="张塞" />
        <property name="age" value="26" />
        <property name="gender" value="true" />
    </bean>

    <!-- 属性注入：使用constructor（调用构造方法） -->
    <bean id="user_constructor" class="com.example.User">
        <!-- 根据参数名称或顺序均可 -->
        <constructor-arg index="0" value="李思思"/>
        <constructor-arg name="age" value="18"/>
        <constructor-arg name="gender" value="false"/>
    </bean>

    <!-- 属性注入：使用p名称空间（调用set方法） -->
    <!--
        xmlns:p="http://www.springframework.org/schema/p"
    -->
    <bean id="user_p" class="com.example.User"
        p:name="王屋山" p:age="32" p:gender="true"
    />

    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->
    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->

    <!-- 设置值：空值 -->
    <bean id="user_null" class="com.example.User">
        <property name="name"><null/></property>
    </bean>

    <!-- 设置值：特殊符号 -->
    <bean id="user_cdata" class="com.example.User">
        <property name="name"><value><![CDATA["<<\>>"]]></value></property>
    </bean>

    <!-- 设置值：外部bean -->
    <bean id="outer_name" class="java.lang.String">
        <constructor-arg index="0" value="外部Bean"/>
    </bean>
    <bean id="user_outer_object" class="com.example.User">
        <property name="name" ref="outer_name"/>
    </bean>

    <!-- 设置值：内部bean -->
    <bean id="user_inner_object" class="com.example.User">
        <property name="name">
            <bean class="java.lang.String">
                <constructor-arg index="0" value="内部Bean"/>
            </bean>
        </property>
    </bean>

    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->
    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->

    <!-- 注入Collection属性 -->
    <bean id="collect_all" class="com.example.Collection">
        <property name="arr">
            <array>
                <value>A</value><value>B</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>C</value><value>D</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="A" value="10"/>
                <entry key="B" value="11"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>A</value><value>B</value>
                <value>B</value><value>C</value>
            </set>
        </property>
        <property name="obj">
            <array>
                <ref bean="obj1"/>
                <ref bean="obj2"/>
            </array>
        </property>
    </bean>
    <bean id="obj1" class="java.lang.String">
        <constructor-arg index="0" value="ABC"/>
    </bean>
    <bean id="obj2" class="java.lang.String">
        <constructor-arg index="0" value="XYZ"/>
    </bean>

    <!-- List注入 -->
    <util:list id="my_list">
        <value>地球</value>
        <value>太阳系</value>
        <value>银河系</value>
    </util:list>
    <bean id="collect_list" class="com.example.Collection">
        <property name="list" ref="my_list"/>
    </bean>

    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->
    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->

    <!-- 工厂bean -->
    <bean id="factory" class="com.example.Factory" />

    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->
    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->

    <!--
        scope="singleton" 单实例（默认）
        scope="prototype" 多实例（获取时实时创建）
        scope="request"
        scope="session"
    -->
    <bean id="prototype" class="java.lang.Object" scope="prototype"/>

    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->
    <!-- ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ ■■■■■■■■■■■■■■■■ -->

    <!-- 生命周期 -->
    <bean id="life" class="com.example.Life" init-method="init" destroy-method="destroy"/>

</beans>